@charset "utf-8";

/* googlefont import */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans&display=swap');


/* page reset */
* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: #000;}